<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: lightgray" class="container text-center d-flex justify-content-center mb-5">

<div class="row mt-5 text-center d-flex justify-content-center">
    <a href="/" class="btn btn-success col-6">Bosh sahifa</a>
    <h1 class="mt-5 col-12">Xabar emailga jo'natildi</h1>
</div>




</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/js.js}"></script>

</html>